amqp==2.2.2
billiard==3.5.0.3
celery==4.1.0
certifi==2018.1.18
chardet==3.0.4
cheroot==6.0.0
CherryPy==14.0.0
cherrypy-cors==1.6
httpagentparser==1.8.1
idna==2.6
kombu==4.1.0
more-itertools==4.1.0
portend==2.2
pytz==2018.3
redis==2.10.6
requests==2.18.4
six==1.11.0
tempora==1.10
urllib3==1.24.2
vine==1.1.4
